.App {
	background-color: #eee;
	text-align: center;
	min-height: 100vh;
	overflow: auto;
}

.dark {
	background-color: rgb(56, 54, 54);
	color: white;
}

.light {
	background-color: rgb(207, 224, 200);
}

.font-slider {
	width: 200px;
	margin-left: 42%;
}
